<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#test1">Where we launch</a></li>
      <li class="tab col s3"><a href="#test2">Equipment</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <h4>Where we launch</h4>
    <span>We proudly launch from Cape Canaveral on one of the historic launch pads that once accomodated the Apollo
      missions. </span>
    <img style="float:right;height:300px"
      src="https://upload.wikimedia.org/wikipedia/commons/1/17/Cape_Canaveral_Air_Force_Station.jpg" />
    <br />
    <span>Space Tours prides itself with a high level of safety and convenience that Cape Canaveral has to offer. <br />
      Whether you are a local traveler of coming from abroad, you can rest assured that your space tourism will go off
      without a hitch. </span>
  </div>
  <div id="test2" class="col s12">
    <h4>Flight Equipment</h4>
    <img style="height:300px;float:right" src="https://live.staticflickr.com/8054/8102775998_505aaf3d74_b.jpg">
    <span>
      Space Tours flies its own bespoke rocket ensuring your comfort and security.
      The ST rocket is a Space Shuttle-derived launch vehicle. The first stage of the rocket is powered by one central
      core stage and two outboard solid rocket boosters.
      <br />Together with the solid rocket boosters, the core stage is responsible for propelling the upper stage and
      payload out of the atmosphere and accelerating up to almost orbital velocity. It contains the liquid hydrogen fuel
      and liquid oxygen oxidizer tanks for the ascent phase, the forward and aft solid rocket booster attach points,
      avionics, and the Main Propulsion System
      <br />
      The ST rocket is the most fuel-effecient in it's class ensuring a sustainable and enjoying expereince in space.
    </span>
  </div>
 
</div>