<div class="row">
  
  <div class="col s8 offset-s2 m12" style="background-color: white;border-radius:20px;">
    <form>
      <div class="row">
        <div class="col s1"></div>
        <div class="col s5">
          <h3>Origin</h3>
          <div class="input-field">
            <input class="" placeholder="Earth, (Florida)" type="text" name="destination" readonly>
          </div>
        </div>
        <div class="col s5">
          <h3>Destination</h3>
          <select style="display: block" name="destination" required [(ngModel)]="destination">
            <option *ngFor="let route of ['Mars', 'Andromeda', 'Moon']" [ngValue]="route">{{ route }}
            </option>
          </select>
        </div>
        <div class="col s1"></div>
      </div>
      <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
          <h3>Your Currency and Country</h3>
          <select style="display: block" name="selectedCurrencyID" required [(ngModel)]="selectedCurrencyID">
            <option *ngFor="let plan of currencies" [ngValue]="plan.id">{{ plan.name }} - {{ plan.currency_code }}
            </option>
          </select>
        </div>
        <div class="col s1"></div>
      </div>
      <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
          <h3>Departing</h3>
          <input type="date" name="depart" id="depart" [(ngModel)]="departDate">
        </div>
        <div class="col s1"></div>
      </div>
      <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
          <input type="button" style="width:100%" class="btn waves-effect waves-light" value="submit booking"
            (click)="processData()">
        </div>
        <div class="col s1"></div>
      </div>
    </form>
  </div>
  
</div>